.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;

  .main {
    width: 100%;
    display: flex;
    flex-direction: column;

    .bannerSection {
      width: 100%;
      height: 65vh;
      padding: 0 16px 180px;
      display: flex;
      color: #ffffff;
      margin-top: 100px;
      position: relative;
      z-index: 500;
    
      @media (max-width: 1000px) {
        background: #260570;
      }
      @media (min-width: 1000px) {
        padding: 0 64px 160px;
        height: auto;
        background-image: url('../../../public/images/banner-hotel.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        margin-top: 80px;
    
        &:before {
          content: '';
          position: absolute;
          inset: 0;
          pointer-events: none;
          background-color: rgba(0,0,0,0.5);
        }
      }
      .contentBlockText {
        width: 100%;
        max-width: 480px;
        margin-top: 24px;
        z-index: 200;
        text-align: center;
        
        @media (min-width: 1000px) {
          margin-top: 80px;
          text-align: left;
        }
    
        .contentBlockTextTitle {
          font-size: 24px;
          color: #ffffff;
          width: 100%;
          max-width: 430px;
          margin-bottom: 16px;
          
          @media (min-width: 1000px) {
            font-size: 54px;
            line-height: 120%;
          }
        }
        .contentBlockTextDescription {
          width: 100%;
          max-width: 340px;
          font-size: 12px;
    
          @media (min-width: 1000px) {
            font-size: 18px;
          }
        }
      }
      .contentInputs {
        width: 100%;
        height: fit-content;
        background: #260570;
        border-radius: 7px;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 16px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 16px;
        z-index: 200;
    
        @media (min-width: 1000px) {
          width: fit-content;
          min-width: 500px;
          max-width: 900px;
          height: 100px;
          flex-direction: row;
          left: 64px;
          bottom: 32px;
          transform: none;
        }
    
        .contentInputsBox {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          border-radius: 7px;
          position: relative;
          
          @media (min-width: 1000px) {
            & + .contentInputsBox {
              margin-left: 16px;
            }
          }
          
          &.small {
            width: 100%;
    
            @media (min-width: 1000px) {
              max-width: 120px;
            }
            
            .boxItem {
              margin-top: 16px;
              
              @media (min-width: 1000px) {
                margin-top: 0;
              }
            }
    
          }
          
          @media (min-width: 1000px) {
            width: auto;
            flex-direction: row;
            background: #ffffff;
            height: 60px;
          }
    
          .contentIcon {
            width: 25px;
            height: 25px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #ffffff;
            display: none;
            align-items: center;
            justify-content: center;
            border: 1px solid #5a5e5f;
            border-radius: 3px;
    
            @media (min-width: 1000px) {
             display: flex;
            }
          }
    
          .boxItem {
            width: 100%;
            height: 50px;
            display: flex;
            flex-direction: column;
            padding: 0 24px;
            background: #ffffff;
            border-radius: 8px;
    
            & + .boxItem {
              margin-top: 16px;
            }
            
            @media (min-width: 1000px) {
              background: none;
              border-radius: 0;
              height: 100%;
    
              & + .boxItem {
                border-left: 3px solid #d9d9d9;
                margin-top: 0;
              }
            }
    
            label {
              font-size: 10px;
              margin-top: 8px;
              text-transform: uppercase;
              color: #5a5e5f;
            }
            
            .boxInput {
              display: flex;
              align-items: center;
              height: 40px;
              display: flex;
    
              @media (min-width: 1000px) {
                height: auto;
                margin-top: 8px;
              }
    
              svg {
                margin-right: 8px;
              }
              input {
                width: 100%;
                height: 100%;
                border: none;
                background: transparent;
    
                &:focus, &:active {
                  outline: 0;
                } 
              }
            }
          }
        }
    
        .contentInputsBtnSearch {
          width: 100%;
          height: 60px;
          background: #fa503f;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          border: none;
          font-size: 14px;
          text-transform: uppercase;
          color: #ffffff;
          margin-top: 32px;
          
          @media (min-width: 1000px) {
            width: 150px;
            margin-left: 16px;
            margin-top: 0;
          }
    
          svg {
            margin-right: 8px;
          }
        }
      }
      .banner-hotel {
        width: 100%;
        max-width: 590px;
        position: absolute;
        right: 0;
      }
    
    }
    .contentHotel {
      width: 100%;
      padding: 0 16px;
    
      @media (min-width: 1000px) {
        max-width: 1280px;
        padding: 0 64px;
      }
    
      .contentHotelTitle {
        width: 100%;
        max-width: 280px;
        font-size: 32px;
        text-align: center;
        color: #394140;
        margin: 24px auto 40px;
    
        @media (min-width: 1000px) {
          max-width: 420px;
          font-size: 48px;
          text-align: left;
          margin: 24px 0 40px;
        }
      }
      .contentShowCard {
        width: 100%;
        min-height: 60vh;
        position: relative;
    
        .contentShowCardLoading {
          width: 100%;
          max-width: 280px;
          height: 100%;
          max-height: 280px;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          pointer-events: none;
          transition: 300ms;
          position: absolute;
          top: 20%;
          left: 50%;
          transform: translateX(-50%);
    
          &.showLoading {
            opacity: 1;
            transform: translate(-50%, -50%);
            pointer-events: visible;
          }
    
          @media (min-width: 1000px) {
            max-width: 300px;
            max-height: 300px;

            top: 50%;
            transform: translate(-40%, -50%);
          }
        }
        .collectionsHotel {
          width: 100%;
          display: flex;
          justify-content: center;
          margin: 0 auto;
          flex-wrap: wrap;
          gap: 56px 16px;
          opacity: 0;
          transform: translateY(-40px);
          pointer-events: none;
          transition: 300ms;
    
          &.showHotel {
            opacity: 1;
            transform: translateY(0);
            pointer-events: visible;
          }
    
          @media (min-width: 1000px) {
            min-height: 40vh;
            justify-content: flex-start;
          }
        }
      }
    }
  }
}







